:root {
  // colors
  --color-primary: #3b9702;
  --color-primary-lighter: #36ce4d;
  --color-background: #181a1b;
  --color-accent: #4b4b4b;
  --color-text: #fefefe;
  --color-error: #eb5058;

  // font
  --font-size: 16px;
  --font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

  --border-radius: 3px;
  --border-radius-large: 6px;
  --border-radius-x-large: 12px;
  --transition-duration: 400ms;
}