.button {
  width: 100%;
  padding: 10px 12px;
  border-radius: var(--border-radius-large);
  color: var(--color-text);
  background-color: var(--color-primary);
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary-lighter);
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    background-color: var(--color-primary);
    opacity: 0.3;
    pointer-events: none;
  }
}